<style>
    .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
</style>

<div class="container">
    <h3><strong>Olá!</strong> Tudo bem?</h3>
    <br />
    <strong>Você atualmente já emitiu {{percentage}}% do seu limite anual {{annualLimit}} R$ do MEI!</strong>
    <p>Caso precise de ajuda <a href="https://empresas.serasaexperian.com.br/blog/limite-de-faturamento-mei/">clique
            aqui</a> e encontre um artigo pode te ajudar quando exceder o limite</p>
    <h3>Equipe Técnica |<strong>Vibbra NF</strong></h3>
</div>